<form action=".">
    <div class="panel-group" id="accordion" role="tablist">
        {% for field in filter.form %}
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="heading-{{ field.id_for_label }}">
                  <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-{{ field.id_for_label }}" aria-expanded="false" aria-controls="collapse-{{ field.id_for_label }}">
                      {{ field.label_tag }} {{ field.errors }}
                    </a>
                  </h4>
                </div>
                <div id="collapse-{{ field.id_for_label }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-{{ field.id_for_label }}">
                  <div class="panel-body">
                      {{ field }}
                  </div>
                </div>
          </div>
        {% endfor %}

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="heading-id_sort">
              <h4 class="panel-title">
                <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-id_sort" aria-expanded="false" aria-controls="collapse-id_sort">
                  Sort
                </a>
              </h4>
            </div>
            <div id="collapse-id_sort" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-id_sort">
              <div class="panel-body">
                  <select id="id_sort" name="sort">
                    <option value="name">Name</option>
                    <option value="availability">Availability</option>
                    <option value="level">Level</option>
                    <option value="magic" selected="selected">Magic</option>
                  </select>
              </div>
            </div>
      </div>

        <input type="submit" value="filter">
    </div>
</form>