<!-- extends the filter block inside tutor_list.html -->
<!-- filter_menu_rendered.html pre rendered template.-->
<div id='filtering-list'>
        <h3 data-name="Area">Area</h3>
        <div class='area-filter'>
            <ul class="area-list">   
                
                    <li id='math' class="area-btn filter-btn"> Math </li>
                
                    <li id='verbal' class="area-btn filter-btn"> Verbal </li>

                    <li id='both' class="area-btn filter-btn"> Both </li>
                <li id='area-reset' class='area-btn filter-btn reset-btn'> All </li>                  
            </ul>
        </div>
        <!--
        <h3 data-name="Program">Program</h3>
        <div class='program-filter'>
            <ul class="program-list">   
                
                    <li id='echelon' class="program-btn filter-btn"> Echelon </li>
                
                    <li id='cornerstone' class="program-btn filter-btn"> Cornerstone </li>
                
                    <li id='academic' class="program-btn filter-btn"> Academic </li>
                  
                <li id='program-reset' class='program-btn filter-btn reset-btn'> All </li>                                  
            </ul>
        </div>
        -->
        <h3 data-name="Subject">Subject</h3>
        <div class='subject-filter'>
            <ul class="subject-list math-list cornerstone-list">
                <li id="cornerstone-math" class='subject-btn filter-btn'>Cornerstone Math</li>
            </ul>
            <ul class="subject-list math-list echelon-list">
                <li id="echelon-math" class='subject-btn filter-btn'>Echelon Math</li>
            </ul>   
            <ul class="subject-list verbal-list cornerstone-list">
                <li id="cornerstone-verbal" class='subject-btn filter-btn'>Cornerstone Verbal</li>
            </ul>   
            <ul class="subject-list verbal-list echelon-list">
                <li id="echelon-verbal" class='subject-btn filter-btn'>Echelon Verbal</li>
            </ul>         
            <ul class="subject-list math-list academic-list">         
                <li id="academic-math-lower" class='subject-btn filter-btn'>Lower Math</li>      
                <li id="academic-math-upper" class='subject-btn filter-btn'>Upper Math</li>      
                <li id="academic-biology" class='subject-btn filter-btn'>Biology</li>      
                <li id="academic-chemistry" class='subject-btn filter-btn'>Chemistry</li>    
                <li id="academic-physics" class='subject-btn filter-btn'>Physics</li>          
            </ul>
            <ul class="subject-list verbal-list academic-list">       
                <li id="academic-english" class='subject-btn filter-btn'>English</li>      
                <li id="academic-history-us" class='subject-btn filter-btn'>US History</li>      
                <li id="academic-history-euroworld" class='subject-btn filter-btn'>European/World History</li>
                <li id="academic-spanish" class='subject-btn filter-btn'>Spanish</li>      
                <li id="academic-french" class='subject-btn filter-btn'>French</li>      
                <li id="academic-latin" class='subject-btn filter-btn'>Latin</li>      
            </ul>   
            <ul class="subject-list-reset">
                <li id='subject-reset' class='subject-btn filter-btn reset-btn'> All </li>  
            </ul>                                
        </div>
        <h3 data-name="Modifier">Modifier</h3>
        <div class='modifier-filter'>
            <ul class="modifier-list">  
                <li id="SAT" class="modifier-btn filter-btn"> SAT II</li>
                <li id="AP" class="modifier-btn filter-btn"> AP </li>
                <li id="I" class="modifier-btn filter-btn"> Level I </li>
                <li id='II' class='modifier-btn filter-btn reset-btn'> Level II </li>       
            </ul>
            <ul class="subject-list-reset">
                <li id='subject-reset' class='subject-btn filter-btn reset-btn'> All </li>  
            </ul>
        </div>
        <h3 data-name="Level">Level</h3>
        <div class='level-filter'>
            <ul class="level-list">  
                <li id="professional" class="level-btn filter-btn"> Professional </li>
                <li id="expert" class="level-btn filter-btn"> Expert </li>
                <li id="director" class="level-btn filter-btn"> Director </li>
                <li id='level-reset' class='level-btn filter-btn reset-btn'> All </li>       
            </ul>
        </div>
        <h3 data-name="Gender">Gender</h3>
        <div class='gender-filter'>
            <ul class="gender-list">
                
                    <li id='male' class="gender-btn filter-btn"> Male </li>
                
                    <li id='female' class="gender-btn filter-btn"> Female </li>
                
                    <li id='other' class="gender-btn filter-btn"> Other </li>
                
            <li id='gender-reset' class='gender-btn filter-btn reset-btn'> All </li>       
            </ul>
        </div>
        <h3 data-name="Availability">Availability</h3>
        <div class='availability-filter'>
            <ul class="availability-list">       
                <li id="one" class='availability-btn filter-btn'>1+ hrs</li>      
                <li id="five" class='availability-btn filter-btn'>5+ hrs</li>      
                <li id="ten" class='availability-btn filter-btn'>10+ hrs</li>      
                <li id="fifteen" class='availability-btn filter-btn'>15+ hrs</li>
                <li id='availability-reset' class='availability-btn filter-btn reset-btn'> All </li>     
            </ul>
        </div>
        <h3 data-name="Energy">Energy!</h3>
        <div class='energy-filter'>
            <ul class="energy-list"> 
                
                    <li id='high' class="energy-btn filter-btn"> High </li>
                
                    <li id='medium' class="energy-btn filter-btn"> Medium </li>
                
                    <li id='low' class="energy-btn filter-btn"> Low </li>
                 
            <li id='energy-reset' class='energy-btn filter-btn reset-btn'> All </li>       
            </ul>
        </div>
        <h3 data-name="Vibe">Vibe</h3>
        <div class='presence-filter'>
            <ul class="presence-list">       
                
                    <li id='uptown' class="presence-btn filter-btn"> Uptown </li>
                
                    <li id='midtown' class="presence-btn filter-btn"> Midtown </li>
                
                    <li id='downtown' class="presence-btn filter-btn"> Downtown </li>
                   
            <li id='presence-reset' class='presence-btn filter-btn reset-btn'> All </li>             
            </ul>
        </div>
        <h3 data-name="Archetype">Archetype</h3>
        <div class='archetype-filter'>
            <ul class="archetype-list">       
                 
                    <li id='coach' class="archetype-btn filter-btn"> Coach </li>
                
                    <li id='supporter' class="archetype-btn filter-btn"> Supporter </li>
                
                    <li id='sibling' class="archetype-btn filter-btn"> Sibling </li>
                
                    <li id='buddy' class="archetype-btn filter-btn"> Buddy </li>
                
                    <li id='coworker' class="archetype-btn filter-btn"> Coworker </li>
                
                    <li id='professor' class="archetype-btn filter-btn"> Professor </li>
                  
            <li id='archetype-reset' class='archetype-btn filter-btn reset-btn'> All </li>                 
            </ul>
        </div>
        <h3 data-name="Location">Location</h3>
        <div class='location-filter'>
            <ul class="location-list">       
                
                    <li id='manhattan' class="location-btn filter-btn"> Manhattan </li>
                
                    <li id='brooklyn' class="location-btn filter-btn"> Brooklyn </li>
                
                    <li id='queens' class="location-btn filter-btn"> Queens </li>
                
                    <li id='staten-island' class="location-btn filter-btn"> Staten Island </li>
                
                    <li id='bronx' class="location-btn filter-btn"> Bronx </li>
                
                    <li id='westchester' class="location-btn filter-btn"> Westchester </li>
                
                    <li id='nj' class="location-btn filter-btn"> NJ </li>
                
                    <li id='ct' class="location-btn filter-btn"> CT </li>
                  
            <li id='location-reset' class='location-btn filter-btn reset-btn'> All </li>                 
            </ul>
        </div>
        <h3 data-name="Extras">Extras</h3>
        <div class='style-filter'>
            <ul class="style-list">       
                
                    <li id='calm' class="style-btn filter-btn"> Calm </li>
                
                    <li id='organized' class="style-btn filter-btn"> Organized </li>
                
                    <li id='confident' class="style-btn filter-btn"> Confident </li>
                
                    <li id='assertive' class="style-btn filter-btn"> Assertive </li>
                
                    <li id='top-school' class="style-btn filter-btn"> Top School </li>
                   
            <li id='style-reset' class='style-btn filter-btn reset-btn'> All </li>       
            </ul>
        </div>
        <h3 data-name="Preference">Preference</h3>
        <div class='preference-filter'>
            <ul class="preference-list">       
                
                    <li id='elementary' class="preference-btn filter-btn"> Elementary </li>
                
                    <li id='ms-academic' class="preference-btn filter-btn"> MS Academic </li>
                
                    <li id='cornerstone' class="preference-btn filter-btn"> Cornerstone </li>
                
                    <li id='hs-academic' class="preference-btn filter-btn"> HS Academic </li>
                
                    <li id='echelon' class="preference-btn filter-btn"> Echelon </li>
                   
            <li id='preference-reset' class='preference-btn filter-btn reset-btn'> All </li>       
            </ul>
        </div>
        <h3 data-name="Skills">Skills</h3>
        <div class='skill-filter'>
            <ul class="skill-list">       
                
                    <li id='skype' class="skill-btn filter-btn"> Skype </li>
                
                    <li id='ld' class="skill-btn filter-btn"> LD </li>
                
                    <li id='international' class="skill-btn filter-btn"> International </li>

                    <li id='schoology' class="skill-btn filter-btn"> Schoology </li>
            <li id='skill-reset' class='skill-btn filter-btn reset-btn'> All </li>         
            </ul>
        </div>
</div>
<div><a style='font-size: 10px;left: 20px; position: fixed; top: 52px;' href='hidden/'>Show Hidden Tutors</a></div>

<!-- End of pre rendered template -->
