

{% block subjectUpdate %}
    {% for subUpdate in model %}
    
            
        <div class="subject-update-model">
            {% if subUpdate.capability %}

                <label for="checkSub{{subUpdate.subject.id}}">
                    <input 
                        type="checkbox" 
                        class="checkboxSub" 
                        id="checkSub{{subUpdate.subject.id}}" 
                        name="{{subUpdate.subject.name}}"
                        checked="checked"/>
                    {{subUpdate.subject.name}}
                </label>
                <input 
                    type="hidden" 
                    class="hiddenSub" 
                    name="{{subUpdate.subject.name}}" 
                    value="{{subUpdate.subject.id}}"/>
                <input 
                    type="hidden" 
                    class="hiddenCap" 
                    name="capability" 
                    value="{{subUpdate.capability.id}}"/>
                <span class="checkResult"></span>
            
            
                <div id="capability-form-{{subUpdate.capability_form.id}}" class="capability-form checkResult">
	                <form action="" method="post">
	                {% csrf_token %}

	                {{ subUpdate.capability_form.id }}
	                {{ subUpdate.capability_form.errors }}
                    {{ subUpdate.capability_form.non_field_errors }}
	                
	                {{ subUpdate.capability_form.tutor.as_hidden }}
	                {{ subUpdate.capability_form.subject.as_hidden }}
	                {{subUpdate.capability_form.modifier.as_hidden }}
	                
	                <input 
                    type="hidden" 
                    class="hiddenCap" 
                    name="capability_id_manual" 
                    value="{{subUpdate.capability.id}}"/>
                    
                    <input 
                    type="hidden" 
                    class="hiddenSub" 
                    name="subject_id_manual" 
                    value="{{subUpdate.subject.id}}"/>
	                
	                <span class="subUpdate-field">Level: {{subUpdate.capability_form.level}}</span>
	                <span class="subUpdate-field">AP: {{subUpdate.capability_form.ap}}</span>
	                <span class="subUpdate-field">Score: {{subUpdate.capability_form.score}}</span>
	                
	                {% if subUpdate.subject.modifier1 %}
	                <span class="subUpdate-field">
    	                {{subUpdate.subject.modifier1}}: {{subUpdate.capability_form.modifier1}}
    	                </span>
	                {% endif %}
	                
	                {% if subUpdate.subject.modifier2 %}
	                <span class="subUpdate-field">
	                    {{subUpdate.subject.modifier2}}: {{subUpdate.capability_form.modifier2}}
	                    </span>
	                {% endif %}
	                
                    {% if subUpdate.subject.modifier3 %}
                    <span class="subUpdate-field">
	                    {{subUpdate.subject.modifier3}}: {{subUpdate.capability_form.modifier3}}
	                    </span>
                    {% endif %}
                    
	                {% if subUpdate.subject.modifier4 %}
	                <span class="subUpdate-field">
	                    {{subUpdate.subject.modifier4}}: {{subUpdate.capability_form.modifier4}}
	                    </span>
                    {% endif %}
	                <a class="subUpdateSubmit" href="#">[save]</a>
                    <span class="subUpdate-field">{{json_result|safe}}</span>
                    <div class="subUpdateNotes">
                        <span class="subUpdate-field">Notes: {{subUpdate.capability_form.notes}}</span>
                    </div>
	                </form>
                </div>
            {% else %}
                    <label for="checkSub{{subUpdate.subject.id}}">
                        <input 
                            type="checkbox" 
                            class="checkboxSub" 
                            id="checkSub{{subUpdate.subject.id}}" 
                            name="{{subUpdate.subject.name}}"/>
                        {{subUpdate.subject.name}}
                    </label>
                    <input type="hidden" class="hiddenSub" name="{{subUpdate.subject.name}}" value="{{subUpdate.subject.id}}"/>
                    <span class="checkResult"></span>
            {% endif %}
      

        </div>
    {% endfor %}
{% endblock %}

