

{% block subjectUpdate %}
    {% for sub_update in model %}

        <div class="subject-update-model">
            {% if sub_update.capability %}

                <label for="checkSub{{ sub_update.subject.id }}">
                    <input
                            type="checkbox"
                            class="checkboxSub"
                            id="checkSub{{ sub_update.subject.id }}"
                            name="{{ sub_update.subject.name }}"
                            checked="checked"/>
                    {{ sub_update.subject.name }}
                </label>
                <input type="hidden" class="hiddenSub" name="{{ sub_update.subject.name }}" value="{{ sub_update.subject.id }}"/>
                <input type="hidden" class="hiddenCap" name="capability" value="{{ sub_update.capability.id }}"/>
                <span class="checkResult"></span>


                <div id="capability-form-{{ sub_update.capability_form.id }}" class="capability-form checkResult">
                    <form action="" method="post">
                        {% csrf_token %}

                        {{ sub_update.capability_form.as_p }}

                    </form>
                </div>
            {% else %}

                <label for="checkSub{{ sub_update.subject.id }}">
                    <input
                            type="checkbox"
                            class="checkboxSub"
                            id="checkSub{{ sub_update.subject.id }}"
                            name="{{ sub_update.subject.name }}"/>
                    {{ sub_update.subject.name }}
                </label>
                <input type="hidden" class="hiddenSub" name="{{ sub_update.subject.name }}"
                       value="{{ sub_update.subject.id }}"/>
                <span class="checkResult"></span>

            {% endif %}


        </div>
    {% endfor %}
{% endblock %}

