{% load static from staticfiles %}
{% for tutor in tutor_list %}
    <div class="tutor">

        <div class="picture-area">
            <div class="picture-overlay-container">
                {% if tutor.availability_vacation %}
                    <p>{{ tutor.availability_vacation }}</p>
                    <div class="picture-overlay"></div>
                {% endif %}
            </div>
            <img class="lazy-img" alt="{{ tutor.fname }} {{ tutor.lname }}" data-src="{{ MEDIA_URL }}{{ tutor.picture }}"/>
        </div>

        <div class="info-main">
            <h1 class="availability" style='max-width:100px !important;'>
                {% if tutor.availability_note.strip %}
                    NOTE
                {% endif %}

                {{ tutor.availability }}
            </h1>

            <div class="contact">
                {% if tutor.highestLevelManual %}
                    <img class="levelIcon lazy-img" alt="level icon"
                         data-src="{{ MEDIA_URL }}images/icons/Level_{{ tutor.highestLevelManual|capfirst }}.gif"/>
                {% elif tutor.highestLevel %}
                    <img class="levelIcon lazy-img" alt="level icon"
                          data-src="{{ MEDIA_URL }}images/icons/Level_{{ tutor.highestLevel|capfirst }}.gif"/>
                {% endif %}


                <div class="info-general">
                    <p class="name">{{ tutor.fname }} {{ tutor.lname }}</p>

                    <p class="cell"><a href="tel:{{ tutor.cell }}">{{ tutor.cell }}</a></p>

                    <p>{{ tutor.neighborhood }}</p>
                </div>

                <p class="email"><a href="mailto:{{ tutor.email }}">{{ tutor.email }}</a></p>
            </div>
            <div class="subject">
                {% for cap in tutor.capability_set.all %}

                    <img class="lazy-img icon {{ cap.subject.name|slugify }}"
                          data-src="{{ MEDIA_URL }}{{ cap.subject.image }}" alt="capability icon">

                    <div class="subject-description-container">
                        <div class="subject-description">
                            <p>{{ cap.subject.name }} - {{ cap.level }}</p>
                            <p>{{ cap.notes }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="info-extra">
            <h3>Go To For: <span class="gtf">{{ tutor.gotofor }}</span></h3>
            {% if tutor.bioline1 != 'n/a' %}
                <h3>{{ tutor.bioline1 }}</h3>
            {% endif %}
            {% if tutor.bioline2 != 'n/a' %}
                <h3>{{ tutor.bioline2 }}</h3>
            {% endif %}
            {% if tutor.bioline3 != 'n/a' %}
                <h3>{{ tutor.bioline3 }}</h3>
            {% endif %}
            {% if tutor.bioline4 != 'n/a' %}
                <h3>{{ tutor.bioline4 }}</h3>
            {% endif %}
            {% if tutor.bioline5 != 'n/a' %}
                <h3>{{ tutor.bioline5 }}</h3>
            {% endif %}
            <div class="personality">
                {% for archetype in tutor.archetype.all %}
                    <div><img class="lazy-img" data-src="{{ MEDIA_URL }}{{ archetype.image }}" alt="archetype"></div>
                {% endfor %}
                {% for energy in tutor.energy.all %}
                    <div><img class="lazy-img" data-src="{{ MEDIA_URL }}{{ energy.image }}" alt="energy"></div>
                {% endfor %}
                {% for presence in tutor.presence.all %}
                    <div><img class="lazy-img" data-src="{{ MEDIA_URL }}{{ presence.image }}" alt="presence"></div>
                {% endfor %}
            </div>
            {% if tutor.availability_note %}
                <h3 style='color:green;float:left;display:inline-block;'>  {{ tutor.availability_note }} </h3>
            {% endif %}
        </div>

        <a class="update" href='{% url 'update' tutor.pk %}'> update </a>

        <div class="hide-button"><img src='{{ STATIC_URL }}img/hideTutorButton.jpg' alt="hide tutor"/>
        </div>
    </div>
{% endfor %}