/*******************/
/*     Global      */
/*******************/
body {
    background-image: url('/static/img/streetgrid-light.gif');
    font-family: 'Arial', sans-serif;
    color: black;
}

hr { border-color: RGB(237, 237, 237); }

#content-container { min-height: 1000px; padding-top: 60px; }

#content-left { width: 200px; float: left; }

#content-main { margin-left: 200px; }

#content-bottom { text-align: center; margin: 30px 10px; }

.quickbody {
    background-color: #eee;
    font-family: 'Lato', sans-serif;
}

.expand {
    width: 200px !important;
    height: auto !important;
    display: block;
    padding-bottom: 30px !important;
    visibility: visible;
}

#invis {
    display: none;
}

/*******************/
/*       Nav       */
/*******************/

#header {
    padding-top: 18px;
    padding-left: 4px;
    padding-right: 15px;
    background-color: white;
    width: 100%;
    position: fixed;
    z-index: 3;
    border-bottom: 1px solid black;
}

.header-button {
    display: inline-block;
    border-radius: 6px;
    background-color: RGB(190, 190, 190);
    color: white;
    padding: 5px 15px 5px 15px;
    margin: -5px 10px 8px 0;
    text-decoration: none;
}

#header-left { float: left; }
#header-right { float: right; }
#btn-sort { display: inline-block; }
#search-container { display: inline-block; }

.btn-link { background-color: RGB(152, 152, 152); }
.separator { color: black; padding-right: 10px; }
#header-search { display: inline-block; }

.arrowUp {
    margin-left: 3px;
    color: green;
    display: none;
    font-weight: 900;
}

.arrowDown {
    margin-left: 3px;
    color: red;
    display: none;
    font-weight: 900;
}

#logo {
    width: 80px;
    margin-top: -23px;
}

.reset {
    width: 175px;
    margin-left: 10px;
    margin-top: 38px;
    position: fixed;
}

.reset:hover {
    background-image: url('/static/img/Reset_Button_Hover.gif');
}

/*******************/
/*   Tutorboard    */
/*******************/

#tutorboard { }

#tutorboard ul { }

#tutorboard .tutor {
    overflow: hidden;
    border-radius: 4px;
    width: 200px;
    height: 400px;
    margin: 6px;
    text-align: left;
    background-color: white;
    box-shadow: 2px 2px 2px #CCC;
    font-size: 16px;
    padding-bottom: 5px;
}

#tutorboard .picture-area {
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#tutorboard .picture-area img {
    width: 200px;
}

#tutorboard .picture-overlay-container {
    width: 0;
    height: 0;
    float: left;
    position: relative;
    top: 0;
    left: 0;
    overflow: visible;
}

#tutorboard .picture-overlay {
    background-color: black;
    width: 200px;
    height: 200px;
    /* Transparency suggested by css-Tricks.com */
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#tutorboard .picture-overlay-container p {
    margin-top: 0;
    color: white;
    line-height: normal;
    text-align: center;
    float: left;
    width: 200px;
    z-index: 2;
    position: relative;
    top: 35px;
}

#tutorboard .info-main {
}

#tutorboard .info-main p {
    font-size: 10px;
}

#tutorboard .info-extra {
}
#tutorboard p{margin: 0 0 0 0}
#tutorboard h3{margin: 0 0 0 0}

#tutorboard .contact {
    margin-top: 5px;
    margin-left: -8px;
}

.info-main {
    margin-left: 15px;
}

.info-main hr {
    margin-left: -16px;
}

.info-extra h3 {
    margin-left: 15px;
}

#tutorboard p {
    padding-bottom: 3px;
}

.cell {
    padding-top: 6px;
}

#tutorboard .tutor .name {
    font-size: 12px;
    font-weight: bold;
    color: RGB(67, 67, 67);
}

.icon {
    width: 40px;
    padding-right: 0;
    margin-left: 0;
}

.subject-description-container {
    display: none;
    overflow: visible;
    position: relative;
    height: 0;
    width: 0;
    top: -95px;
    left: -12px;
    float: left;
}

.subject-description {
    width: 171px;
    height: 70px;
    background-color: #ccc;
    overflow: hidden;
    padding: 10px;
    font-size: 14px;
    border: solid 1px #222;
}

.hide-button {
    border-radius: 1px;
    padding: 0 15px 0 15px;
    margin: 3px 5px 3px 5px;
    position: absolute;
    bottom: 6px;
    width: auto;
    float: left;
    left: 0;
}

.levelIcon {
    width: 48px;
    height: 50px;
    position: absolute;
    left: 140px;
    display: block;
    margin-top: -5px;
}

.info-general {
    margin-top: 10px;
}

.email {
    padding-top: 7px;
    width: 20px;
}

.availability {
    float: right;
    padding: 3%;
    position: absolute;
    top: 5px;
    right: 5px;
    margin: 0;
    color: white;
    font-size: 20px;
    background: none;
    border: 0 solid RGB(151, 151, 151);
    overflow: hidden;
    max-width: 17px;
}

.title {
    float: left;
    padding: 1% 3% 1% 3%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    color: RGB(200, 200, 200);
    font-size: 16px;
    background-color: white;
    border: 1px solid RGB(151, 151, 151);
}

.update {
    text-decoration: none;
    border-radius: 6px;
    background-color: RGB(190, 190, 190);
    color: white;
    padding: 0 15px 0 15px;
    position: absolute;
    bottom: 5px;
    right: 5px;
    margin: 0;
}

.personality {
    margin-left: 10px;
}

.personality img {
    width: 60px;
    padding-right: 10px;
}

.personality div {
    float: left;
    display: inline;
}

.info-extra h3 {
    font-size: 12px;
}

.info-extra img {
    width: 53px;
}

.gtf {
    display: inline;
    color: RGB(148, 23, 42);
}

#footer {
    height: 0;
    border-top: 1px solid #333;
    background-color: #666;
    color: #999;
    position: fixed;
    bottom: 0;
    z-index: 3;
    width: 100%;
}

#copyright {
    float: left;
}

#footer-middle {
    width: 300px;
    margin: auto;
    text-align: center;
}

.info-extra {
    display: none;
}

/*******************/
/*   Update View   */
/*******************/

.subUpdate-field {
    display: inline;
    margin: 10px;
}

.subUpdate-field textarea {
    font-size: 12px;
    background-color: #ddd;
    color: #444;
    border: none;
    padding: 5px;
}

.subject-update-model {
    background-color: #eee;
    padding: 8px;
    display: block;
    max-width: 600px;
    border-bottom: solid 1px #999;
    border-top: solid 1px #f9f9f9;
    border-right: solid 1px #888;
    border-left: solid 1px #f9f9f9;
    margin-left: 10px;
}

.next-button {
    display: inline-block;
    margin: 20px;
}

.update-info {
    margin-left: 4%;
    /*height: 850px;	*/
}

.update-info-unit {
    padding-top: 10px;
    min-width: 230px;
    display: inline-block;
}

.update-bio {
    display: block;
    width: 300px;
}

.update-subject {
    padding-top: 20px;
    color: RGB(80, 80, 80);
}

.update-subject th {
    color: white;
    padding-right: 25px;
}

.update-picture {
    padding-top: 10px;
    color: white;
}

.update-picture a {
    color: RGB(80, 80, 80);
    text-decoration: none;
}

.update-img {
    max-width: 100px;
}

.info_basic td {
    padding-right: 40px;
}

.info_basic p {
    width: 125px;
    color: white;
}

.info_check td p {
    padding-right: 100px;
    color: white;
}

.info_check td li {
    color: RGB(80, 80, 80);
}

.delete {
    padding-top: 10px;
    color: red;
}

/***********************/
/*  Availability page  */
/***********************/

.avail-form {
    position: absolute;
    margin-top: 75px;
}

.tutor-block {
    position: relative;
    display: inline-block;
    float: left;
    height: auto;
    margin-top: 8px;
}

.tutor-availability {
    background-color: white;
    margin-top: 20px;
    margin-left: 30px;
    padding: 10px;
}

.needs-update {
    border: 2px solid red;
}

.should-update {
    border: 2px solid orange;
}

.recent-update {
    border: 2px solid green;
}

.never-updated {
    border: 2px solid orange;
}

.last-updated {
    position: relative;
    margin-left: 350px;
    padding: 8px;
    background-color: white;
    height: 15px;
}

.tutor-availability span {
}

.tutor-availability h1 {
    color: black;
    display: inline;
}

/*******************/
/*   Checkboxes    */
/*******************/
input[type=checkbox] {
    margin: 0 8px;
}

li {
    list-style-type: none;
}

h3.selected-filter {
    background-color: #006084;
    font-weight: bold;
    border: 1px solid black;
    color: white;
}

form > div:nth-of-type(20) {
    display: none;
}

#tutor-update {
}

#tutor-update p {
    margin: 3px;
}

.helptext {
    display: none;
}

#tutor-update input[type=submit] {
    margin: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #F10026;
    cursor: pointer;
    border: none;
    padding: 4px 10px 5px;
    text-decoration: none;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: block;
    line-height: 1;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.hidden {
    display: none;
}

#create-tutor > img:hover {
    border-radius: 8px;
    border: solid 2px white;
}

/**** Isotope Filtering ****/

.isotope-item {
    z-index: 2;
}

.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

/*******************/
/*   Filter Menu   */
/*******************/

#filters select { width: 100%;}
#filters option { font-size: 12px; text-align: center; }
#filters .panel-body { padding: 10px 5px; }
#filters .panel-heading { padding: 0; }
#filters .panel-title a { width: 100%; display: inline-block; padding: 5px; }
#filters label{cursor:pointer;}
#filters input[type='submit']{
    float:right;
    margin:5px 20px;
    background-color: #8C404B;
    color:white;
    border:0;
    padding:5px;
    border-radius: 6px;
}
#id_subjects{height:300px;}
/* #94172A */
.panel-default>.panel-heading{background-color: #8C404B; }
.panel-default>.panel-heading label{color:white;}
.panel-group .panel+.panel{margin:0;}



/*******************/
/*   Update Page   */
/*******************/
form ul{padding:0}
form ul li input{width:auto;}
.form-control{height:25px;}
input.form-control[type=radio] {
  margin: -5px 0 0;
  margin-top: 1px\9;
  line-height: normal;
  display: inline;
  width: 20px;
}
.tab-content{background-color: white;padding:40px 30px;}
html.tutor_update body{background-image: none; background-color: #054561}
.nav-tabs>li>a{color:white;}
.nav-tabs>li>a:hover{background-color:#097BAD ;color:white;}
.capability-form ul li{display:inline-block;}
