<!DOCTYPE html>

{% load staticfiles %}

<html class="{% block html_class %}{% endblock %}">
<head>
	<title>{% block page_title %}TA Tutorboard{% endblock %}</title>
    <meta name="viewport" content="width=device-width, user-scalable=yes">

    {% block css_files %}
        <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}" >
        <link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.css" %}" />
        <link href='http://fonts.googleapis.com/css?family=Lato:100,400,900,900italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}" >
    {% endblock %}

</head>

<body>
	<div id="header">
		<div id="header-left">
			<a href="/tutorboard/"> <img alt="logo" id="logo" src="{{ STATIC_URL }}img/Logo.png"> </a>
            
		</div>
		<div id="header-right">
            {% block header_right %}{% endblock %}
		</div>
	</div>


    <div id="content-container">
        {% block content %}{% endblock %}
    </div>

	<div id="footer">
	    <div id="copyright">Tutor Associates</div>
		<div id="footer-middle">
			<span>&bull;&nbsp;&bull;&nbsp;&bull;&nbsp;</span>
		</div>
	</div>

    <script>
        var django_context = {};
    {% block django_context_data %}{% endblock %}
    </script>

    {% block js_files %}

        {# libraries #}
        <script src="{% static "js/jquery.min.js" %}"></script>
        <script src="{% static "js/jquery-ui.min.js" %}"></script>
        <script src="{% static "js/isotope.min.js" %}"></script>
        <script src="{% static "js/imageloader.js" %}"></script>

        {# our js #}
        <script src="{% static "js/global.js" %}"></script>
        <script src="{% static "js/tutor_list.js" %}"></script>
        <script src="{% static "js/tutor_update.js" %}"></script>
        <script src="{% static "js/filters.js" %}"></script>

    {% endblock %}

    {% block extra_scripts %}
    {% endblock %}

</body>

</html>
