{% extends "tutorboard/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block html_class %}{{ block.super }} tutor_update {% endblock %}

{% block django_context_data %}
    {{ block.super }}
    django_context.tutor_id = {{ tutor.id }};
{% endblock %}

{% block content %}

    {{ success }}

    <div id="tutor-update">
        <div class="update-info">
            <form method="post" action="">

                {% for field in form %}
                    <div class="update-info-unit"
                         {% if field|is_textarea %}style="display:block;"{% endif %}
                         {% if field|is_upload %}style="display:block;"{% endif %}
                            >
                        {% if field|is_upload %}
                            <img class="update-img" src="/media/{{ field.value }}" alt="tutor picture"/>
                        {% endif %}
                        {% if field.field.is_hidden %}
                        {% else %}
                            <div>{{ field.label_tag }}</div>
                        {% endif %}
                        {{ field }}
                    </div>
                {% endfor %}

                {% csrf_token %}

                <input type="submit" name="save" value="save">

                {% if next_tutor %}
                    <input type="submit" name="saveAndNext" value="save and next">
                {% endif %}

            </form>


            {% for sub in all_subjects %}
                <div class="subject-container">

                    <label for="checkSub{{ sub.id }}">
                        <input type="checkbox" class="checkboxSub" id="checkSub{{ sub.id }}" name="{{ sub.name }}"
                        {% if sub.selected %}
                        checked="checked"
                        {% endif %}
                        />
                        {{ sub.name }}
                    </label>
                    <input type="hidden" class="hiddenSub" name="{{ sub.name }}" value="{{ sub.id }}"/>

                    <span class="checkResult"></span>
                    <br>

                    <div class="capability-form-container">
                        {% for form in capability_forms %}
                            {% if form.subject.value == sub.id %}
                                {% include 'tutorboard/capability_update.html' with form=form %}
                            {% endif %}
                        {% endfor %}
                    </div>

                    <br>
                    <hr>
                </div>

            {% endfor %}



            {% if prev_tutor %}
                <span class="next-button">
                    <a href="{% url 'update' prev_tutor.id %}">
                        Edit previous tutor: {{ prev_tutor.fname }} {{ prev_tutor.lname }}
                    </a>
                </span>
            {% endif %}

            {% if next_tutor %}
                <span class="next-button">
                    <a href="{% url 'update' next_tutor.id %}">
                        Edit next tutor: {{ next_tutor.fname }} {{ next_tutor.lname }}
                    </a>
                </span>
            {% endif %}

        </div>
        <div class="errors">{{ form_errors }}</div>
    </div>
{% endblock %}


