{% extends "tutorboard/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block html_class %}{{ block.super }} tutor_create {% endblock %}

{% block django_context_data %}
    {{ block.super }}
    django_context.tutor_id = {{ tutor.id }};
{% endblock %}

{% block content %}

    {{ success }}
    <div style="height:60px;"></div>
    <form action="." method="post">

        {{ form.as_p }}

        {% csrf_token %}
        <input type="submit" name="save" value="save">
        <input type="submit" name="saveAndNext" value="save and next">

    </form>


{% endblock %}
