{% extends "tutorboard/base.html" %}
{% load staticfiles %}
{% load custom_tags %}

{% block html_class %}{{ block.super }} tutor_update {% endblock %}

{% block django_context_data %}
    {{ block.super }}
    django_context.tutor_id = {{ tutor.id }};
{% endblock %}

{% block content %}

    {{ success }}

    <div id="tutor-update">

        <div class="update-info">
            <form method="post" action="">


                {% for field in form %}

                    <div class="update-info-unit"
                         {% if field|is_textarea %}style="display:block;"{% endif %}
                         {% if field|is_upload %}style="display:block;"{% endif %}
                            >
                        {% if field|is_upload %}
                            <img class="update-img" src="/media/{{ field.value }}" alt="tutor picture"/>
                        {% endif %}
                        {% if field.field.is_hidden %}
                        {% else %}
                            <div>{{ field.label_tag }}</div>
                        {% endif %}
                        {{ field }}
                    </div>


                {% endfor %}


                {% csrf_token %}


                <input type="submit" name="save" value="save">

                {% if next_tutor %}
                    <input type="submit" name="saveAndNext" value="save and next">
                {% endif %}

            </form>

            {% if tutor_id != '0' %}



                <!-- Subject checklist partial view -->
                <div id="subjectList"><img src="{% static "img/spinner.gif" %}"></div>
                <!-- End of subject checklist partial view -->

                {% if prev_tutor %}
                    <span class="next-button"><a href="{% url 'update' prev_tutor.id %}">Edit previous
                        tutor: {{ prev_tutor.fname }} {{ prev_tutor.lname }}</a></span>
                {% endif %}

                {% if next_tutor %}
                    <span class="next-button"><a href="{% url 'update' next_tutor.id %}">Edit next
                        tutor: {{ next_tutor.fname }} {{ next_tutor.lname }}</a></span>
                {% endif %}

            {% else %}
                <div style="margin-left:10px;"><h2>In order to add capabilities to this tutor please click save first
                    and then click update on this tutor's card</h2></div>

            {% endif %} <!-- end for loop condition if tutor_id -->
        </div>
        <div class="errors">{{ form_errors }}</div>
    </div>
{% endblock %}


